.row.row--short.relative
  .row__medium-1-2
    = image_tag 'https://s3.amazonaws.com/chazona-portfolio-bucket/uploads/assets/images/front_end_books.jpg', :alt => 'Chazona Baum', :class => 'img--full-height img--background img--grayscaled'
    .overlay.overlay--dark-color
.page-section
  .container
    %h2.section-title= @resource_category.title
    .generic-content-container
      = render partial: 'resource_topics/resource_topic', collection: @resource_category.resource_topics



